.rating {
  font-weight: 500;
}
.star {
  margin: 0px;
}
.star-rating {
  display: flex;
  align-items: center;
  justify-content: center;
}
.back-stars {
  display: flex;
  position: relative;
}
.front-stars {
  display: flex;
  overflow: hidden;
  position: absolute;
  transition: all 0.5s;
}

.reliability-container {
  padding: 10px;
  background: #f2f5f8;
  text-align: center;
}

.star-reliability-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}
